
@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body { 
  font-family: IM Fell French Canon Pro;
  scroll-behavior: smooth;
  background: url(dust_scratches.png);  
  margin: 3rem;
  > p:first-of-type, >p:last-of-type {
    font-style: italic;
    font-size: 1.2rem;
    a {
      text-decoration: none;
      color: #222; 
      font-weight: bolder;
    }
  }
  >p:last-of-type {
    text-align: right;
  }
}
section { 
  max-width: 40rem;
  line-height: 1.4;
  margin: 0 auto;
  h1 {
    font-size: 3rem;
  }
  h2 {
    text-align: center;
    margin: 0;
  img {
    width: 40%;
    min-width: 200px;
  }
  }
  h3 { 
    font-size: 2.3rem;
    text-align: center;
    span {
      display: block;
      &:after {
        content: ":";
      }
    }
  }
  p {
      font-size: 1.4rem;
  }
  img#runes {
    display: block;
    max-width: 100%;
  }
  #professor {
    float: right;
    margin-left: 3rem;
    width: 17.8rem;
    @media all and (max-width: 600px) {
      float: none;
      display: block;
      width: 75%;
      margin: 0 auto;
    }
  }
}
